<div class="container" id="login-container">
  <h1>Log In</h1>

  <%= form_for :session, url: login_path, html: { class: "form-group" } do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, type: "username", class: "form-control", placeholder: "Enter username" %><br>

    <%= f.label :password %>
    <%= f.password_field :password, type: "password", class: "form-control", placeholder: "Enter password"  %><br>

    <%= f.submit "Login", class: "btn btn-control btn-primary" %>
  <% end %>
</div>
