<div class="container" id="visual-container">
  <h4 style="color: #CCC; margin-top: 19px; margin-bottom: -12px;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp Visual</h4>

  <h1><%= @visual.title %></h1>
  <% if current_user %>
    <% if @visual.topics.any? || @visual.indicators.any? || @visual.countries.any? || @visual.previews.any? %>
      <em><h4 style="margin-bottom: 15px;"><%= @visual.find_visual_source_type %>:</em> <%= link_to @visual.find_visual_source_name, @visual.find_visual_source_route %></h4>
    <% end %>
  <% else %>
    <em><h4 style="margin-bottom: 15px;">Topic:</em> <%= link_to @visual.find_visual_source_name, @visual.find_visual_source_route %></h4>
  <% end %>
  <p style="margin-top: -3px; margin-bottom: 12px;"><%= @visual.intro.html_safe %></p>
  <%= @visual.link.html_safe %>
  <p class="visual-caption"><em><%= @visual.caption %></em></p>
  <%= simple_format(@visual.description) %>
  <%= simple_format(@visual.additional_description) %>

  <br><p style="color: #999"><em>Last updated: <%= @visual.updated_at.strftime("%B %d, %Y") %></em></p>
</div>
