<div class="container" id="topic-container">
  <h1><%= @topic.title.split.map(&:capitalize).join(' ') %></h1>
  <h4><em><%= @topic.report_date %></em></h4>

  <p><%= @topic.intro %></p>

  <% i = 0 %>
  <% while i < @topic.visual_count %>
    <br><%= @topic.visuals[i].link.html_safe %>
    <%= @topic.visuals[i].caption %><br>
    <br><p><%= @topic.descriptions[i].body %></p>
    <% i += 1 %>
  <% end %>

  <h2>Conclusion</h2>
  <p><%= @topic.conclusion %></p><hr>

  <h4>Tags</h4>
  <ul>
    <% @topic.tags.each do |tag| %>
      <li><%= tag.name.split.map(&:capitalize).join(' ') %></li>
    <% end %>
  </ul><br>
</div>
