<div class="container">
  <div class="row">
    <div class="column col-xs-12">
      <div class="container" id="topic-container">
        <h4 style="color: #CCC; margin-top: 5px; margin-bottom: -9px;"><span class="glyphicon glyphicon-th-list"></span>&nbsp Topic</h4>

        <h1><%= @topic.title %></h1>
        <p style="font-size: 14px; margin-top: -5px; color: #888;"><%= @topic.report_date %></p>

        <% if @topic.tagline %>
          <div class="tagline">
            <span style="font-family: palatino; font-size: 22px; color: #666; line-height: 115%;"><%= @topic.tagline %></span>
          </div>
        <% end %>

        <%= @topic.intro.html_safe %><br>
        <% @visuals.each do |visual| %>
          <h3 style="color: #777; margin-top: 16px;"><%= visual.title %></h3>
          <p style="margin-top: -3px; margin-bottom: 12px;"><%= visual.intro.html_safe %></p>
          <%= visual.link.html_safe %>
          <p><em><%= visual.caption %></em></p>
          <%= visual.description.html_safe %>
        <% end %>

        <h3>Conclusion</h3>
        <p><%= @topic.conclusion.html_safe %></p><hr>

        <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
        <% @related_topics.each do |topic| %>
        <div id="related-topic">
          <h3 style="margin-top: 10px;"><%= link_to topic.title, topic_path(topic) %></h3>
          <em><h5 style="margin-top: -5px; margin-bottom: 5px; color: #888"><%= topic.report_date %></h5></em>
          <%= truncate(topic.intro, length: 250) %>
        </div>
        <% end %><hr>

        <h4>Tags</h4>
        <ul>
          <% @topic.tags.each do |tag| %>
          <li><%= tag.name %></li>
          <% end %>
        </ul><br>
      </div>
    </div>

    <div class="column col-xs-3" id="sidebar">
      <div id="indicator-sidebar">
        <h4><span class="glyphicon glyphicon-eye-open"></span>&nbsp Visuals</h4>
        <table id="ind-side-table">
          <% @visuals.each do |visual| %>
          <tr>
            <td><%= link_to visual.title, visual_path(visual) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div id="country-sidebar">
        <h4><span class="glyphicon glyphicon-globe"></span>&nbsp Related Countries</h4>
        <ul>
          <% @related_countries.each do |country| %>
          <li><%= link_to country.name, country_path(country) %></li>
          <% end %>
        </ul>
      </div>
      <div id="indicator-sidebar">
        <h4><span class="glyphicon glyphicon-stats"></span>&nbsp Related Indicators</h4>
        <ul>
          <% @related_indicators.each do |indicator| %>
            <li><%= link_to indicator.name + " (" + indicator.countries.first.name + ")", indicator_path(indicator) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
