<div class="row">
    <div class="column col-xs-12">
      <div class="container" id="topic-container">
        <%= link_to "Back to Topics", topics_path, class: "back-to-link" %>

        <h1><%= @topic.title %></h1>
        <h5><em><%= @topic.report_date %></em></h5>

        <p><%= @topic.intro %></p>
        <% @visuals.each do |visual| %>
          <br><%= visual.link.html_safe %>
          <p><span style="padding-left: 175px;"></span><em><%= visual.caption %></em></p>
          <%= simple_format(visual.description) %>
        <% end %>

        <h3>Conclusion</h3>
        <p><%= @topic.conclusion %></p><hr>

        <h4>Tags</h4>
        <ul>
          <% @topic.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul><br>
      </div>
    </div>

    <div class="column col-xs-3" id="sidebar">
      <h5>Related Countries:</h5>
      <ul>
        <% @related_countries.each do |country| %>
          <li><%= link_to country.name, country_path(country) %></li>
        <% end %>
      </ul>

      <h5>Related Indicators:</h5>
      <ul>
        <% @related_indicators.each do |indicator| %>
          <li><%= link_to indicator.name, indicator_path(indicator) %></li>
        <% end %>
      </ul>

      <h5>Related Topics:</h5>
      <ul>
        <% @related_topics.each do |topic| %>
          <li><%= link_to topic.title, topic_path(topic) %></li>
        <% end %>
      </ul>
    </div>
</div>
