<div class="container" id="topic-container">
  <h1><%= @topic.title %></h1>
  <h5><em><%= @topic.report_date %></em></h5>

  <p><%= @topic.intro %></p>
  <% @topic.visuals.each do |visual| %>
    <br><%= visual.link.html_safe %>
    <span style="padding-left: 175px;"><em><%= visual.caption %></em></span><br><br>
    <p><%= simple_format(visual.description) %></p>
  <% end %>

  <h3>Conclusion</h3>
  <p><%= @topic.conclusion %></p><hr>

  <h4>Tags</h4>
  <ul>
    <% @topic.tags.each do |tag| %>
      <li><%= tag.name.split.map(&:capitalize).join(' ') %></li>
    <% end %>
  </ul><br>
</div>
