<div class="container" id="topic-container">
  <h1><%= @topic.title %></h1>
  <h5><em><%= @topic.report_date %></em></h5>

  <p><%= @topic.intro %></p>
  <% @visuals.each do |visual| %>
    <br><%= visual.link.html_safe %>
    <p><span style="padding-left: 175px;"></span><em><%= visual.caption %></em></p>
    <%= simple_format(visual.description) %>
  <% end %>

  <h3>Conclusion</h3>
  <p><%= @topic.conclusion %></p><hr>

  <h4>Tags</h4>
  <ul>
    <% @topic.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>
</div>
