<div class="container" id="topic-container">
  <h1><%= @topic.title.titlecase %></h1>
  <h5><em><%= @topic.report_date %></em></h5>

  <p><%= @topic.intro %></p>

  <% @topic.descriptions.each_with_index do |description, index| %>
    <% if @topic.visuals.any? %>
      <br><%= @topic.visuals[index].link.html_safe %>
      <span style="padding-left: 175px;"><em><%= @topic.visuals[index].caption %></em></span><br><br>
    <% end %>
    <p><%= simple_format(description.body) %></p>
  <% end %>

  <h3>Conclusion</h3>
  <p><%= @topic.conclusion %></p><hr>

  <h4>Tags</h4>
  <ul>
    <% @topic.tags.each do |tag| %>
      <li><%= tag.name.split.map(&:capitalize).join(' ') %></li>
    <% end %>
  </ul><br>
</div>
