<div class="container" id="edit-topic-container">
  <%= link_to "Back to Topic", admin_topic_path(@topic), class: "back-to-link" %>

  <h1>Edit Topic</h1>

  <div class="add-visual-button-container">
    <%= button_to "Add Visual", "javascript:void(0)", class: "btn btn-control btn-primary", id: "edit-add-visual-button" %><br>
  </div>

  <%= form_for [:admin, @topic], html: { class: "form-group" } do |f| %>
    <div class="default-topic-items">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %><br>

      <%= f.label :report_date %>
      <%= f.text_field :report_date, class: "form-control" %><br>

      <%= f.label :intro %>
      <%= f.text_area :intro, class: "form-control" %><br>

      <%= f.fields_for :visuals, @visuals do |ff| %>
        <div class="edit-page-visual-counter">
          <hr><%= ff.label :title %>
          <%= ff.text_field :title, class: "form-control" %><br>

          <%= ff.label :link %>
          <%= ff.text_field :link, class: "form-control" %><br>

          <%= ff.label :caption %>
          <%= ff.text_field :caption, class: "form-control" %><br>

          <%= ff.label :description %>
          <%= ff.text_area :description, class: "form-control" %><br>
        </div>
      <% end %>
    </div>

    <hr><%= f.label :conclusion %>
    <%= f.text_area :conclusion, class: "form-control" %><hr>

    <h4><span class="glyphicon glyphicon-globe"></span>&nbsp Related Countries</h4>
    <%= f.fields_for :countries do |country| %>
      <%= collection_check_boxes :topic, :countries, Country.all.sort_by(&:name), :id, :name do |b| %>
      <p>
        <%= b.check_box(class: "check_box", checked: @topic.countries.include?(Country.find_by(display_name: b.object.display_name))) %>
        <%= b.object.name %>
      </p>
      <% end %>
    <% end %><hr>

    <h4><span class="glyphicon glyphicon-stats"></span>&nbsp Related Indicators</h4>
    <%= f.fields_for :indicators do |indicator| %>
      <%= collection_check_boxes :topic, :indicators, Indicator.all.sort_by {|indicator| indicator.countries.first.name}, :id, :name do |b| %>
      <p>
        <%= b.check_box(class: "check_box", checked: @topic.indicators.include?(Indicator.find_by(display_name: b.object.display_name))) %>
        <strong><%= b.object.countries.first.name %></strong> - <%= b.object.name %>
      </p>
      <% end %>
    <% end %><hr>

    <h4><span class="glyphicon glyphicon-user"></span>&nbsp User Tags</h4>
    <%= f.fields_for :tags do |tag| %>
      <%= collection_check_boxes :topic, :tags, Tag.all, :id, :name do |b| %>
      <p>
        <%= b.check_box(class: "check_box", checked: @topic.tags.include?(Tag.find_by(display_name: b.object.display_name))) %>
        <%= b.object.name %>
      </p>
      <% end %>
    <% end %>

    <br><%= f.submit "Update topic", class: "btn btn-control btn-primary" %>
  <% end %>
</div>
