<div class="row">
    <div class="column col-xs-12">
      <div class="container" id="topic-container">
        <%= link_to "Back to Topics", admin_topics_path, class: "back-to-link" %>

        <h1><%= @topic.title %></h1>
        <h5><em><%= @topic.report_date %></em></h5>

        <p><%= @topic.intro %></p>
        <% @visuals.each do |visual| %>
          <br><%= visual.link.html_safe %>
          <p><em><%= visual.caption %></em></p>
          <%= simple_format(visual.description) %>
        <% end %>

        <h3>Conclusion</h3>
        <p><%= @topic.conclusion %></p><hr>

        <h4>Tags</h4>
        <ul>
          <% @topic.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul><br>

        <%= button_to "Edit topic", edit_admin_topic_path(@topic), method: :get, class: "btn btn-control btn-success" %><br>
        <%= button_to "Delete topic", admin_topic_path(@topic), method: :delete, class: "btn btn-control btn-danger" %>
      </div>
    </div>

    <div class="column col-xs-3" id="sidebar">
      <div id="country-sidebar">
        <h4><span class="glyphicon glyphicon-globe"></span>&nbsp Related Countries</h4>
        <ul>
          <% @related_countries.each do |country| %>
            <li><%= link_to country.name, admin_country_path(country) %></li>
          <% end %>
        </ul>
      </div>
      <div id="indicator-sidebar">
        <h4><span class="glyphicon glyphicon-stats"></span>&nbsp Related Indicators</h4>
        <ul>
          <% @related_indicators.each do |indicator| %>
            <li><%= link_to indicator.name, admin_indicator_path(indicator) %></li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
