<div class="container" id="visuals-container">
  <h1><span style="font-size: 25px;" class="glyphicon glyphicon-eye-open"></span> Visuals</h1>
  <em><h4 style="color: #888;">Total count: <%= @visuals.count %></h4></em>

  <% @visuals.each do |visual| %>
    <hr><h3><%= link_to visual.title, admin_visual_path(visual) %></h3>
    <% if visual.topics.any? || visual.indicators.any? || visual.countries.any? || visual.previews.any? %>
      <h4><%= visual.find_visual_source_type %>: <%= link_to visual.find_visual_source_name, visual.find_admin_visual_source_route %></h4>
    <% end %>
    <h5><em>Last updated: <%= visual.updated_at.strftime("%B %d, %Y") %></em></h5>
    <%= truncate(visual.description, length: 250) %>
  <% end %>
</div>
