<div class="container" id="visual-container">
  <%= link_to "Back to Visuals", admin_visuals_path, class: "back-to-link" %>&nbsp&nbsp&nbsp&nbsp
  <%= link_to "Back to Countries", admin_countries_path, class: "back-to-link" %>&nbsp&nbsp&nbsp&nbsp
  <%= link_to "Back to Indicators", admin_indicators_path, class: "back-to-link" %>&nbsp&nbsp&nbsp&nbsp
  <%= link_to "Back to Topics", admin_topics_path, class: "back-to-link" %>

  <h4 style="color: #CCC; margin-top: 16px; margin-bottom: -12px;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp Visual</h4>

  <h1><%= @visual.title %></h1>
  <em><h4 style="margin-bottom: 15px;"><%= @visual.find_visual_source_type %>:</em> <%= link_to @visual.find_visual_source_name, @visual.find_admin_visual_source_route %></h4>
  <%= @visual.link.html_safe %>
  <p><em><%= @visual.caption %></em></p>
  <%= simple_format(@visual.description) %>
  <%= simple_format(@visual.additional_description) %>

  <br><%= button_to "Edit visual", edit_admin_visual_path(@visual), method: :get, class: "btn btn-control btn-success" %><br>
  <%= button_to "Delete visual", admin_visual_path(@visual), method: :delete, class: "btn btn-control btn-danger" %>

  <br><p style="color: #999"><em>Last updated: <%= @visual.updated_at.strftime("%B %d, %Y") %></em></p>
</div>
