<div class="container" id="new-preview-container">
  <%= link_to "Back to Previews", admin_previews_path, class: "back-to-link" %>

  <h1>Create Preview</h1>

  <div class="add-visual-button-container">
    <%= button_to "Add Visual", "javascript:void(0)", class: "btn btn-control btn-primary", id: "preview-add-visual-button" %><br>
  </div>

  <%= form_for [:admin, @preview], html: { class: "form-group" } do |f| %>
    <div class="default-preview-items">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %><br>

      <%= f.label :report_date %>
      <%= f.text_field :report_date, class: "form-control", placeholder: "Enter report date" %><br>

      <%= f.label :tagline %>
      <%= f.text_area :tagline, class: "form-control", placeholder: "Enter key takeaways" %><br>

      <%= f.label :intro %>
      <%= f.text_area :intro, class: "form-control", placeholder: "Enter introduction (if applicable)" %><br><hr>

      <h4>Visual #1</h4>

      <%= f.fields_for :visuals do |ff| %>
        <%= ff.label :title %>
        <%= ff.text_field :title, class: "form-control", placeholder: "Enter title" %><br>

        <%= ff.label :intro %>
        <%= ff.text_area :intro, class: "form-control", placeholder: "Enter introduction or explanation of visual" %><br>

        <%= ff.label :link %>
        <%= ff.text_field :link, class: "form-control", placeholder: "Enter Tableau script or URL" %><br>

        <%= ff.label :caption %>
        <%= ff.text_field :caption, class: "form-control", placeholder: "Enter caption for visual" %><br>

        <%= ff.label :description %>
        <%= ff.text_area :description, class: "form-control", placeholder: "Enter description for visual and/or additional text" %><br><hr>
      <% end %>
    </div>

    <%= f.label :conclusion %>
    <%= f.text_area :conclusion, class: "form-control", placeholder: "Enter conclusion (if applicable)" %><hr>

    <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
    <%= f.fields_for :topics do |topic| %>
      <%= collection_check_boxes :preview, :topics, Topic.all.sort_by(&:title), :id, :title do |b| %>
      <p>
        <%= b.check_box(class: "check_box") %>
        <%= b.object.title %>
      </p>
      <% end %>
    <% end %><hr>

    <h4><span class="glyphicon glyphicon-globe"></span>&nbsp Related Countries</h4>
    <%= f.fields_for :countries do |country| %>
      <%= collection_check_boxes :preview, :countries, Country.all.sort_by(&:name), :id, :name do |b| %>
      <p>
        <%= b.check_box(class: "check_box") %>
        <%= b.object.name %>
      </p>
      <% end %>
    <% end %><hr>

    <h4><span class="glyphicon glyphicon-stats"></span>&nbsp Related Indicators</h4>
    <%= f.fields_for :indicators do |indicator| %>
      <%= collection_check_boxes :preview, :indicators, Indicator.all.sort_by {|indicator| indicator.countries.first.name}, :id, :name do |b| %>
      <p>
        <%= b.check_box(class: "check_box") %>
        <strong><%= b.object.countries.first.name %></strong> - <%= b.object.name %>
      </p>
      <% end %>
    <% end %><hr>

    <h4><span class="glyphicon glyphicon-user"></span>&nbsp User Tags</h4>
    <%= f.fields_for :tags do |tag| %>
      <%= collection_check_boxes :preview, :tags, Tag.all, :id, :name do |b| %>
      <p>
        <%= b.check_box(class: "check_box") %>
        <%= b.object.name %>
      </p>
      <% end %>
    <% end %>

    <br><%= f.submit "Create preview", class: "btn btn-control btn-primary" %>
  <% end %>
</div>
