<div class="container" id="preview-container">
  <%= link_to "Back to Previews", admin_previews_path, class: "back-to-link" %>

  <h1><%= @preview.title %></h1>
  <h3>Tags</h3>
  <ul>
    <% @preview.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>

  <% if current_user %>
    <%= button_to "Delete Preview", admin_preview_path(@preview), method: :delete, class: "btn btn-control btn-danger" %>
  <% else %>
    <%= button_to "Learn More", admin_dashboard_path, method: :get, class: "btn btn-control btn-success" %>
  <% end %>
</div>
