<div class="container">
  <div class="row">
    <div class="column col-xs-12">
      <div class="container" id="preview-container">
        <%= link_to "Back to Previews", admin_previews_path, class: "back-to-link" %>

        <h4 style="color: #CCC; margin-top: 16px; margin-bottom: -12px;"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp Preview</h4>

        <h1><%= @preview.title %></h1>
        <p style="font-size: 16px; margin-top: -5px; color: #888;"><em><%= @preview.report_date %></em></p>

        <% if @preview.tagline %>
          <div class="tagline">
            <%= @preview.tagline.html_safe %>
          </div>
        <% end %>

        <span style="font-size: 15px;"><%= @preview.intro.html_safe %></span><br>
        <% @visuals.each do |visual| %>
          <h3 style="color: #777; margin-top: 16px;"><%= visual.title %></h3>
          <p style="margin-top: -3px; margin-bottom: 12px;"><%= visual.intro.html_safe %></p>
          <%= visual.link.html_safe %>
          <p><em><%= visual.caption %></em></p>
          <%= visual.description.html_safe %>
        <% end %>

        <h3>Conclusion</h3>
        <p><%= @preview.conclusion.html_safe %></p><hr>

        <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
        <% @related_topics.each do |topic| %>
          <div id="related-topic">
            <h3 style="margin-top: 10px;"><%= link_to topic.title, admin_topic_path(topic) %></h3>
            <em><h5 style="margin-top: -5px; margin-bottom: 5px; color: #888"><%= topic.report_date %></h5></em>
            <%= truncate(topic.intro, length: 250) %>
          </div>
        <% end %><hr>

        <h4>Tags</h4>
        <ul>
          <% @preview.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul><br>

        <%= button_to "Edit preview", edit_admin_preview_path(@preview), method: :get, class: "btn btn-control btn-success" %><br>
        <%= button_to "Delete preview", admin_preview_path(@preview), method: :delete, class: "btn btn-control btn-danger" %>
      </div>
    </div>

    <div class="column col-xs-3" id="sidebar">
      <div id="indicator-sidebar">
        <h4><span class="glyphicon glyphicon-eye-open"></span>&nbsp Visuals</h4>
        <table id="ind-side-table">
          <% @visuals.each do |visual| %>
          <tr>
            <td><%= link_to visual.title, admin_visual_path(visual) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div id="country-sidebar">
        <h4><span class="glyphicon glyphicon-globe"></span>&nbsp Related Countries</h4>
        <ul>
          <% @related_countries.each do |country| %>
            <li><%= link_to country.name, admin_country_path(country) %></li>
          <% end %>
        </ul>
      </div>
      <div id="indicator-sidebar">
        <h4><span class="glyphicon glyphicon-stats"></span>&nbsp Related Indicators</h4>
        <ul>
          <% @related_indicators.each do |indicator| %>
            <li><%= link_to indicator.name + " (" + indicator.countries.first.name + ")", admin_indicator_path(indicator) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
