<div class="container">
  <div class="row">
    <div class="column col-xs-12">
      <div class="container" id="preview-container">
        <%= link_to "Back to Topics", previews_path, class: "back-to-link" %>

        <h4 style="color: #CCC; margin-top: 16px; margin-bottom: -12px;"><span class="glyphicon glyphicon-th-list"></span>&nbsp Topic</h4>

        <h1><%= @preview.title %></h1>
        <h5 style="margin-top: -5px; color: #888;"><em><%= @preview.report_date %></em></h5>

        <% if @preview.tagline %>
          <div class="tagline">
            <span style="font-family: palatino; font-size: 22px; color: #666; line-height: 115%;"><%= @preview.tagline %></span>
          </div>
        <% end %>

        <%= @preview.intro %><br>
        <% @visuals.each do |visual| %>
          <h3 style="color: #777"><%= visual.title %></h3>
          <%= visual.link.html_safe %>
          <p><em><%= visual.caption %></em></p>
          <%= simple_format(visual.description) %>
        <% end %>

        <h3>Conclusion</h3>
        <p><%= @preview.conclusion %></p><hr>

        <% if logged_in? %>
          <% if @related_topics.any? %>
            <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
            <% @related_topics.each do |topic| %>
              <div id="related-topic">
                <h3 style="margin-top: 10px;"><%= link_to topic.title, topic_path(topic) %></h3>
                <em><h5 style="margin-top: -5px; margin-bottom: 5px; color: #888"><%= topic.report_date %></h5></em>
                <%= truncate(topic.intro, length: 250) %>
              </div>
            <% end %><hr>
          <% end %>
        <% else %>
          <% if @related_previews.any? %>
            <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
            <% @related_previews.each do |preview| %>
              <div id="related-topic">
                <h3 style="margin-top: 10px;"><%= link_to preview.title, preview_path(preview) %></h3>
                <em><h5 style="margin-top: -5px; margin-bottom: 5px; color: #888"><%= preview.report_date %></h5></em>
                <%= truncate(preview.intro, length: 250) %>
              </div>
            <% end %><hr>
          <% end %>
        <% end %>

        <h4>Tags</h4>
        <ul>
          <% @preview.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul><br>
      </div>
    </div>

    <div class="column col-xs-3" id="sidebar">
      <div id="preview-sidebar">
        <h4><span class="glyphicon glyphicon-eye-open"></span>&nbsp Visuals</h4>
        <table id="ind-side-table">
          <% @visuals.each do |visual| %>
          <tr>
            <td><%= link_to visual.title, visual_path(visual) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
