<div class="container">
  <div class="row">
    <div class="column col-xs-12">
      <div class="container" id="preview-container">

        <% if logged_in? %>
          <h4 style="color: #CCC; margin-top: 5px; margin-bottom: -9px;"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp Preview</h4>
        <% else %>
          <h4 style="color: #CCC; margin-top: 5px; margin-bottom: -9px;"><span class="glyphicon glyphicon-th-list"></span>&nbsp Topic</h4>
        <% end %>

        <h1><%= @preview.title %></h1>
        <p style="font-size: 16px; margin-top: -5px; color: #888;"><em><%= @preview.report_date %></em></p>

        <% if @preview.tagline %>
          <div class="tagline">
            <%= @preview.tagline.html_safe %>
          </div>
        <% end %>

        <%= @preview.intro.html_safe %><br>
        <% @visuals.each do |visual| %>
          <h3 style="color: #777; margin-top: 22px;"><%= visual.title %></h3>
          <p style="margin-top: -3px; margin-bottom: 12px;"><%= visual.intro.html_safe %></p>
          <%= visual.link.html_safe %>
          <p class="visual-caption"><em><%= visual.caption %></em></p>
          <%= visual.description.html_safe %>
        <% end %>

        <h3>Conclusion</h3>
        <p><%= @preview.conclusion.html_safe %></p><hr>

        <% if logged_in? %>
          <% if @related_topics.any? %>
            <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
            <% @related_topics.each do |topic| %>
              <div id="related-topic">
                <h3 style="margin-top: 10px;"><%= link_to topic.title, topic_path(topic) %></h3>
                <em><h5 style="margin-top: -5px; margin-bottom: 5px; color: #888"><%= topic.report_date %></h5></em>
                <%= truncate(topic.intro.html_safe, length: 250) %>
              </div>
            <% end %><hr>
          <% end %>
        <% else %>
          <% if @related_previews.any? %>
            <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
            <% @related_previews.each do |preview| %>
              <div id="related-topic">
                <h3 style="margin-top: 10px;"><%= link_to preview.title, preview_path(preview) %></h3>
                <em><h5 style="margin-top: -5px; margin-bottom: 5px; color: #888"><%= preview.report_date %></h5></em>
                <%= truncate(preview.intro.gsub("<p>", ""), length: 250) %>
              </div>
            <% end %><hr>
          <% end %>
        <% end %>

        <h4>Tags</h4>
        <ul>
          <% @preview.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul><br>
      </div>
    </div>

    <div class="column col-xs-3" id="sidebar">
      <div id="preview-sidebar">
        <h4><span class="glyphicon glyphicon-eye-open"></span>&nbsp Visuals</h4>
        <table id="ind-side-table">
          <% @visuals.each do |visual| %>
          <tr>
            <% if visual == @visuals.last %>
              <td style="padding-top: 8px; border-bottom: none"><%= link_to visual.title, visual_path(visual) %></td>
            <% elsif visual == @visuals.first %>
              <td style="padding-bottom: 8px; padding-top: 3px;"><%= link_to visual.title, visual_path(visual) %></td>
            <% else %>
              <td style="padding-bottom: 8px; padding-top: 8px;"><%= link_to visual.title, visual_path(visual) %></td>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
