<div class="container">
  <div class="row">
    <div class="column col-xs-12">
      <div class="container" id="country-container">
        <%= link_to "Back to Countries", countries_path, class: "back-to-link" %>

        <h4 style="color: #CCC; margin-top: 16px; margin-bottom: -12px;"><span class="glyphicon glyphicon-globe"></span>&nbsp Country</h4>

        <h1><%= @country.name %></h1>

        <%= @country.intro %><br>
        <% @visuals.each do |visual| %>
          <h3 style="color: #777"><%= visual.title %></h3>
          <%= visual.link.html_safe %>
          <p><em><%= visual.caption %></em></p>
          <%= simple_format(visual.description) %>
        <% end %>

        <h3>Outlook</h3>
        <p><%= @country.conclusion %></p><hr>

        <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
        <% @related_topics.each do |topic| %>
        <div id="country-related-topic">
          <h3 style="margin-top: 10px;"><%= link_to topic.title, topic_path(topic) %></h3>
          <em><h5 style="margin-top: -5px; margin-bottom: 5px; color: #888"><%= topic.report_date %></h5></em>
          <%= truncate(topic.intro, length: 250) %>
        </div>
        <% end %><hr>

        <h4>Tags</h4>
        <ul>
          <% @country.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul><br>

        <p style="color: #999"><em>Last updated: <%= @country.last_updated %></em></p>
      </div>
    </div>

    <div class="column col-xs-3" id="country-show-sidebar">
      <div id="indicator-sidebar">
        <h4><span class="glyphicon glyphicon-eye-open"></span>&nbsp Visuals</h4>
        <table id="ind-side-table">
          <% @visuals.each do |visual| %>
          <tr>
            <td><%= link_to visual.title, visual_path(visual) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div id="indicator-sidebar">
        <h4><span class="glyphicon glyphicon-stats"></span>&nbsp Key Indicators</h4>
        <ul>
          <% @related_indicators.each do |indicator| %>
            <li><%= link_to indicator.name, indicator_path(indicator) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
