<div class="container" id="edit-user-container">
  <%= link_to "Back to Profile", admin_user_path(@user) %>

  <h1>Edit User: <span style="color: red"><%= @user.username %></span></h1>

  <%= form_tag admin_user_path(@user), method: :put, html: { class: "form-group" } do %>
    <%= label_tag :password %>
    <%= password_field_tag :password, params[:password], type: "password", class: "form-control", placeholder: "Enter password" %><br>

    <%= label_tag :password_confirmation %>
    <%= text_field_tag :password_confirmation, params[:password_confirmation], type: "password_confirmation", class: "form-control", placeholder: "Confirm password" %><br>

    <%= label_tag :role %><br>
    Default  <%= check_box_tag :role, "default", true %>&nbsp
    Admin  <%= check_box_tag :role, "admin", false %><br><br>

    <br><%= submit_tag "Submit", class: "btn btn-control btn-primary" %>
  <% end %>
</div>
