<div class="container" id="new-indicator-container">
  <h1>Add Indicator</h1>

  <%= form_tag admin_indicators_path, html: { class: "form-group" } do %>
    <%= label_tag :name %>
    <%= text_field_tag :name, params[:name], type: "name", class: "form-control", placeholder: "Enter indicator name" %><br><br>

    <%= label_tag :tags %><span><em> (select all that apply)</em></span><br>

    <%= collection_check_boxes :indicator, :tags, Tag.all, :name, :name do |b| %>
      <p>
        <%= b.check_box(class: "check_box") %>
        <%= b.object.name.split.map(&:capitalize).join(' ') %>
      </p>
    <% end %>

    <br><%= submit_tag "Create Indicator", class: "btn btn-control btn-primary" %>
  <% end %>
</div>
