<div class="container" id="indicator-container">
  <%= link_to "Back to Indicators", admin_indicators_path, class: "back-to-link" %>

  <h1><%= @indicator.name %></h1>

  <h3>Global Rankings</h3>

  <table id="indicator-table">
    <tr>
      <th>Country</th>
      <th>Value</th>
      <th>Rank</th>
    </tr>
    <% @related_countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, admin_country_path(country) %></td>
        <td>Value</td>
        <td>Rank</td>
      </tr>
    <% end %>
  </table><hr>

  <div class="rel-top-container">
    <h4><span class="glyphicon glyphicon-th-list"></span>&nbsp Related Topics</h4>
    <% @related_topics.each do |topic| %>
      <div id="indicator-related-topic">
        <h3><%= link_to topic.title, admin_topic_path(topic) %></h3>
        <%= truncate(topic.intro, length: 250) %>
      </div>
    <% end %>
  </div><hr>

  <h3>Tags</h3>
  <ul>
    <% @indicator.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>

  <%= button_to "Delete Indicator", admin_indicator_path(@indicator), method: :delete, class: "btn btn-control btn-danger" %>
</div>
