<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Global Alpha">
  <meta name="author" content="AMG National Trust Bank">
  <link rel="icon" href="../../favicon.ico">

  <title>Global Alpha</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <%= flash_messages %>
  </div>

  <% if current_admin? %>
    <%= render 'layouts/admin_navbar' %>
  <% else %>
    <%= render 'layouts/navbar' %>
  <% end %>
  <%= yield %>

  <hr>
  <div class="container">
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>© 2016 AMG National Trust Bank · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </div>

  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/jquery-latest.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $('.dropdown-toggle').dropdown();
      });
  </script>

</body>
</html>
