<!DOCTYPE html>
<html>
<head>
  <title>Global Alpha</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= flash_messages %>
  </div>

  <%= yield %>

</body>
</html>
